@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body{
  background: black;
  color: white;
  font-family: 'Pixelify Sans';
}
.centered-aligned {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh; 
}
