body {
  margin: 10px;
  background-color: rgb(15,15,15);
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#topbar {
    background-color: rgb(53, 53, 53);
}