body {
  background-color: rgb(15,15,15);
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#rocket-league img {
    max-width: 200px;
    height: auto;
}