body {
  margin: 10px;
  background-color: rgb(15,15,15);
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#rocket-league {
  width: fit-content;          /* se adapta al contenido */
  background-color: #2ecc71;
  padding: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}