body {
  background-color: rgb(15,15,15);
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#rocket-league {
  width: 150px;              /* ancho fijo del cuadrado */
  height: 150px;             /* alto fijo del cuadrado */
  background-color: #000000; /* color de fondo (negro en este caso) */
  display: flex;             /* para centrar la imagen */
  justify-content: center;   /* centra horizontalmente */
  align-items: center;       /* centra verticalmente */
}