body {
  margin: 10px;
  background-color: rgb(15,15,15);
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#rl {
    background-color: rgb(53, 53, 53);
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
}

#rl img {
    width: 50%;
    height: auto; 
}