body {
    background-color: rgb(15,15,15);
    color: white;
    font-family: "inter", sans-serif;
}
.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}